@media screen and (min-width: 1200px) {
    #container .xl\:w-10 {
        width: 83.3333% !important;
    }
}

#container .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (min-width: 768px) {
    #container .md\:px-0 {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    
}

@media screen and (max-width: 1230px) {
    #div1{
        display: none;
    }

    #div1{
        display: none;
    }
}


@media screen and (max-width: 800px) {
    #navbar-bottom{
        flex-direction: column;
    }

    
}

@media screen and (max-width: 550px) {
    
    #intro p {
        font-size: 14px !important;
    }

    #conatiner {
        width: 95.3333% !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    
}



#container .pt-3 {
    padding-top: 1rem !important;
}

#container .gap-5 {
    gap: 2rem !important;

}


#container .flex {
    display: flex !important
;
}


/* ------------------------------------ */


#div1{

    
        flex: 0 0 auto;
        padding: .5rem;
        width: 8.3333%;
    
}

#div2{

    
        flex: 0 0 auto;
        padding: .5rem;
        width: 91.6667%;
        max-width: 1000px;
    
}


#conatiner{

    width: 83.3333%;
}


#div1 .grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
    margin-top: -.5rem;
}


.grid>[class*=col] {
    box-sizing: border-box;
}
.grid .mb-3 {
    margin-bottom: 1rem !important;
}
.grid .col-12 {
    flex: 0 0 auto;
    width: 100%;
}

#div .grid img {
    
    width: 30px;
}

#div1 .divbar {
    font-size: 12px;
    padding: 12px 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: .1s ease-in-out;
    color: #00758a;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px !important;
}

#conatiner{
    padding-top: 1.75rem;
    justify-content: center;
}

.text-center{

    box-shadow: 20px -15px 15px -20px #aeaeaeb2;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    display: flex;
    border-radius: 20px;
    padding: 16px 0;
}

.side-bar[_ngcontent-ng-c2570734519] {
    padding: 20px 0;
}
.text-center {
    text-align: center !important;
}

.surface-card{

    box-shadow: 0 0 25px #00000021;
    border: 1px solid rgba(174, 174, 174, .7019607843);
    border-radius: 20px;
}

#intro{

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;

}

#intro p{

    font-size: 16px;
}

#des-title{

    color: #00758a;
    margin-left: 3px;
}

#title{
    
    margin-bottom: 10px;
}

#des{

    color: #9e9e9e;
}


