* {
    box-sizing: border-box;
}

.inner-pages {
    margin-top: 35px;
    background-image: url(https://falak.ksaa.gov.sa/media/bg-innerpages-navbar-RAOBQCUT.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem !important;
    margin-left: 10px;
  margin-right: 10px;
}

#navbar img{

    width: 40%;
}

#navbar .line-height-3 {
    line-height: 1.5 !important;
}
#navbar .font-medium {
    font-weight: 500 !important;
}

#navbar a{

    color: white;
    font-size: 16px;
}

@media screen and (min-width: 992px) {
    .lg\:static {
        position: static !important;
    }
}

@media screen and (min-width: 1200px) {
    .xl\:mx-8 {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

@media screen and (min-width: 992px) {
    .lg\:px-8 {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

.py-1 {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}
.flex {
    display: flex !important
;
}
@media screen and (min-width: 992px) {
    .lg\:static {
        position: static !important;
    }
}








/* ----------------------------------------------- */


@media screen and (min-width: 1200px) {
    #navbar-bottom .xl\:mx-8 {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}
@media screen and (min-width: 992px) {
    #navbar-bottom .lg\:mx-2 {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
}
@media screen and (min-width: 768px) {
    #navbar-bottom .md\:mx-6 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
}
#navbar-bottom .mx-0 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}
#navbar-bottom .align-items-center {
    align-items: center !important;
}
#navbar-bottom .justify-content-between {
    justify-content: space-between !important;
}
@media screen and (min-width: 1200px) {
    #navbar-bottom .xl\:flex-row {
        flex-direction: row !important;
    }
}
@media screen and (min-width: 992px) {
    #navbar-bottom .lg\:flex-row {
        flex-direction: row !important;
    }
}
#navbar-bottom .flex-column {
    flex-direction: column !important;
}
#navbar-bottom .flex {
    display: flex !important
;
}

#navbar-bottom  img {
    width: 20px;
}

#navbar-bottom #pn_id_49 {

    display: flex;
    align-items: center;

}

#navbar-bottom  #arrow {
    width: 15px;
    
}





#navbar-bottom .p-breadcrumb {
    border: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#navbar-bottom .p-breadcrumb {
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 1rem;
}
#navbar-bottom .p-component {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
}
#navbar-bottom .p-component {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 6px;
    padding: 1rem;
    padding: 0.5rem;
}

#navbar-bottom ol li a {
    color: #00758a;
}

#navbar-bottom .pi-angle-down:before {
    content: "\e930";
}
#navbar-bottom .pi:before {
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#navbar-bottom .bg-main-theme {
    background-color: #00758a !important;
    display: flex;
    gap: 10px;
}

#navbar-bottom .text-white {
    color: white;
}

#navbar-bottom svg {
    rotate: 180deg;
}




.p-breadcrumb-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}